body{
    background-color: blueviolet;
    color: aqua;
    font-family: Arial, sans-serif;
}

header{
    background-color: black;
    color: bisque;
    text-align: center;
    padding: 30px;
}

h1{
    font-size: 36px;
}

h2{
    color: brown;
}

p{
    font-size: 18px;
    line-height: 1 . 6;
}


